root = true

[*.java]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
indent_style = space
ij_formatter_tags_enabled = true

[*.groovy]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
indent_style = space

[*.json]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
ij_json_keep_blank_lines_in_code = 0
ij_json_keep_indents_on_empty_lines = false
ij_json_keep_line_breaks = true
ij_json_space_after_colon = true
ij_json_space_after_comma = true
ij_json_space_before_colon = true
ij_json_space_before_comma = false
ij_json_spaces_within_braces = true
ij_json_spaces_within_brackets = true
ij_json_wrap_long_lines = false

[*.{kt, kts}]
indent_size = 2
ij_continuation_indent_size = 2
indent_style = space